.navbar .container {
	min-width:850px;
}
.navbar .container {
	/*color:#fff;*/
}
.navbar .connect {
	padding-top:7px;
}
.navbar .navbar-right-links {
	list-style-type:none;
	/*color:#fff;*/
}
.navbar .navbar-right-links li {
	margin-left:30px;
	padding-top:15px;
}
.navbar-header {
	background:url('../images/paris_logo.png') 0px 5px;
	background-repeat:no-repeat;
	padding-left:45px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #15f9af;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #15f9af;
  background-color: transparent;
}
